extends layout

block content
    section.flex.grid.grid-cols-2.p-3.gap-6
        each pulse in pulses
            div.w-auto.bg-white.border.border-gray-200.p-3.rounded-lg.shadow(class='dark:bg-gray-800 dark:border-gray-700')
                canvas#myChart
            script(src='https://cdn.jsdelivr.net/npm/chart.js')
            script.
                const ctx = document.getElementById('myChart');
                new Chart(ctx, {
                type: 'line',
                data: {
                labels: ['Pulse'],
                datasets: [{
                label: 'Pulse',
                data: [#{pulse.pulse}],
                borderWidth: 1
                }]
                },
                options: {
                scales: {
                y: {
                beginAtZero: true
                }
                }
                }
                });

            
            
            
            


        