extends layout 
block content 
    section.container
        aside
            ol
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
            li Worker
        section#map
            img(src='https://ptol.us/wp-content/uploads/2022/12/Dungeon-Mine-Map-Dwarves-of-Mhalduun-or-Dwarvenhearth-Ptolus-Battle-Maps-Homebrew-Mines-Mining-Subterranean-Morvold-Press-DND-D20-scaled.jpg', alt='Map Image')
