extends layout

block content

    section.search-bar
        input(type='text', placeholder='Search')
        button.add-button ADD

    section.card-container
        section.card
            section.card-image
                img(src='.\public\images\descarga1.jpg', alt='Worker Image')
            section.card-inf
                h2 Cristiano Ronaldo
                p Blood Type: O+
                p Age: 38
                p Weight: 80 kg
                p Height: 187 cm
                p Status: Active

        section.card
            section.card-image
                img(src='C:\Users\LENOVO\Desktop\ResQJS\public\images\descarga.jpg', alt='Worker Image')
            section.card-info
                h2 Lionel Messi
                p Blood Type: O+
                p Age: 35
                p Weight: 70 kg
                p Height: 175 cm
                p Status: Active

        section.card
            section.card-image
                img(src='../public/images/descarga.jpg', alt='Worker Image')
            section.card-info
                h2 Alisha Lehman
                p Blood Type: O+
                p Age: 24
                p Weight: 70 kg
                p Height: 175 cm
                p Status: Active

        section.card
            section.card-image
            img(src='C:\Users\LENOVO\Downloads\testimonials-grid-section-main\workers-images\descarga (1).jpg', alt='Worker Image')
            section.card-info
                h2 Cristiano Ronaldo
                p Blood Type: O+
                p Age: 38
                p Weight: 80 kg
                p Height: 187 cm
                p Status: Active

        section.card
            section.card-image
                img(src='C:\Users\LENOVO\Downloads\testimonials-grid-section-main\workers-images\descarga.jpg', alt='Worker Image')
            section.card-info
                h2 Lionel Messi
                p Blood Type: O+
                p Age: 35
                p Weight: 70 kg
                p Height: 175 cm
                p Status: Active
                
        section.card
            section.card-image
                img(src='C:\Users\LENOVO\Downloads\testimonials-grid-section-main\workers-images\descarga (2).jpg', alt='Worker Image')
            section.card-info
                h2 Alisha Lehman
                p Blood Type: O+
                p Age: 24
                p Weight: 70 kg
                p Height: 175 cm
                p Status: Active